<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Таблица пользователей</title>
  <style>
    body {
      background-color: #f5c7d6;
    }

    th {
      background-color: #ffffff;
    }

    td {
      background-color: #ffffff;
    }

    #logout-btn {
      margin-top: 20px;
    }
  </style>
</head>
<body>
<h1>Users Table</h1>
<table>
  <tr border="1" bgcolor="#f0f8ff">
    <th bgcolor="#ffd700"><h2>Id</h2></th>
    <th><h2>Login</h2></th>
    <th><h2>Last Name</h2></th>
    <th><h2>Age</h2></th>
    <th bgcolor="b0c4de">
      <form  action="/admin/new">
        <button><h3>Create</h3></button>
      </form>
    </th>
  </tr>
  <tr th:each="user : ${users}">
    <th bgcolor="#ffd700"><a th:href="@{admin/{id}(id=${user.getId()})}" th:utext="${user.getId()}"></a></th>
    <td bgcolor="#f0f8ff" th:utext="${user.getUserName()}"></td>
    <td bgcolor="#f0f8ff" th:utext="${user.getLastName()}"></td>
    <td bgcolor="#f0f8ff" th:utext="${user.getAge()}"></td>
    <td bgcolor="b0c4de">
      <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="delete">
      </form>
      <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
        <button>update</button>
      </a>
    </td>
  </tr>
</table>
<form id="logout-btn" action="/logout">
  <button><h3>Logout</h3></button>
</form>
</body>
</html>
