<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit the list of users</title>
</head>
<body bgcolor="#ffe4e1">
<table>
    <tr>
        <td>
            <h1>Changing data</h1>
        </td>
        <td>
            <form  action="/logout">
                <button><h3>Logout</h3></button>
            </form>
        </td>
    </tr>
    <tr>
        <form th:method="patch" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
            <td bgcolor="#ffd700">
                <label for="id"><h3>ID</h3></label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
            </td>
            <td bgcolor="#f0f8ff">
                <label for="userName"><h3>Login</h3></label><input type="text" th:field="*{userName}" id="userName"/>
                <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</div>
            </td>
            <td bgcolor="#f0f8ff">
                <label for="password"><h3>password</h3></label><input type="text" th:field="*{password}" id="password">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </td>
            <td bgcolor="#f0f8ff">
                <label for="lastName"><h3>lastName</h3></label><input type="text" th:field="*{lastName}" id="lastName">
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
            </td>
            <td>
            <td bgcolor="#f0f8ff">
                <label for="age"><h3>age</h3></label><input type="text" th:field="*{age}" id="age">
                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
            </td>
            <td>
                <input type="submit" value="update"/>
            </td>
        </form>
    </tr>
</table>
</body>
</html>
