<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body bgcolor="#ffe4e1">
<h1>Data entry</h1>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <h3><label for="login">enter userName</label></h3>
    <input type="text" th:field="*{userName}" id="login"/>
    <br/>
    <h3><label for="password">enter password</label></h3>
    <input type="text" th:field="*{password}" id="password"/>
    <br/><br/>
    <button><h3>Logout</h3></button>
    <br/><br/>
    <footer>
        <input type="submit" value="СОЗДАТЬ"/>
    </footer>
</form>
</body>
</html>
